body {
    background-color: #74b1a7;
    color: #0086a3;
    text-shadow: 2px 2px 2px #0086a3;
    text-size-adjust: 15px;
    font-family: 'Times New Roman', Times, serif;

  }  

.about {
    z-index:1;
    position: absolute;
    bottom: 20px;
}

.navbar {
    padding: 0px; /* some padding */
    text-align: center; /* center the text */
    color: #3fa4a1; /* green text color */
    border: 1px solid #17849b;
    background: #ffff9c;
    height: 55px; 
    width: 260px;
    float: left;
    position: relative;
    z-index: 0;
}

.button {
    padding: 0px; /* some padding */
    text-align: center; /* center the text */
    color: #3fa4a1; /* green text color */
    border: 1px solid #17849b;
    background: #ffff9c;
    height: 55px; 
    width: 260px;
    float: left;
    position: relative;
    z-index: 1;
}

.navbar-a {
    padding: 0px; /* some padding */
    text-align: center; /* center the text */
    color: #3fa4a1; /* green text color */
    border: 1px solid #17849b;
    background: #ffff9c;
    height: 55px; 
    width: 282px;
    float: left;
    position: relative;
    z-index: 2;
}

.navbar-b {
    padding: 0px; /* some padding */
    text-align: center; /* center the text */
    color: #3fa4a1; /* green text color */
    border: 1px solid #17849b;
    background: #ffff9c;
    height: 55px; 
    width: 200px;
    float: left;
    position: inline;
}


@media only screen and (max-width: 768px) {
    .gigs {
        float: block;
        bottom: 0px;
        right: 0px;
        position: absolute;
    }
}
.images {
    padding: 20px;
    position: relative;
    top: 50px;
    z-index: -1;
    float: inline;
}

.gigs {
    padding: 5px;
    position: relative;
    bottom: 550px;
    right: -800px;
    z-index: 0;
}

.flyers {
    padding: 5px;
    position: relative;
    top: 20px;
    z-index: 1;
    float: inline;
}

.overlay {
    position: fixed;
    top: 100px;
    
}

.overlay-flyers {
    position: fixed;
    bottom: 100px;
    right: 75px;
    float: right;
    z-index: 1;
    
}

.marquee {
    border: 1px solid #17849b;
    color: #17849b;
    height: 50px;
    background: #ffff9c;
    width: 150%;
    position: fixed;
    bottom: 50px;
    left: -10px;
}

.marquee p {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    font-size: 30px;
    text-align: center;
    float: left;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: scroll-left 1s linear infinite;
    -webkit-animation: scroll-left 1s linear infinite;
    animation: scroll-left 10s linear infinite;
}

@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}